/* Global default */
* {
  margin: 0px;
  padding: 0px;
}

/* Body default */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar css */
.navbar {
  align-items: center;
  background-color: rgb(31, 31, 31);
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.navLinks {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  gap: 5vmin;
  margin-right: 50px;
}

.link {
  text-decoration: none;
}

.navLink {
  background-color: rgb(232,230,230);
  border: 2px solid rgb(50,35,33);
  color: rgb(31, 31, 31);
  box-shadow: 0px 0px 3px 3px rgb(232,230,230);
  font-size: 17px;
  padding: 10px 0px;
  text-align: center;
  width: 20vmin;
}

.navLink:hover {
  box-shadow: 0px 0px 3px 3px orange;
}

.navLogo {
  width: 25vmin;
}

#eventDropdown, #infoDropdown {
  display: none;
}

.infoList, .eventList {
  background-color: rgb(232,230,230);
  list-style: none;
  position: absolute;
  width: 25vmin;
}

.listItem {
  padding: 10px 20px;
}

.linkItem {
  color: rgb(50,35,33);
  font-size: 20px;
  text-decoration: none;
}

.listItem:hover {
  background-color: rgb(31, 31, 31);
  color: orange;
}
