/* Global default */
* {
  margin: 0px;
  padding: 0px;
}

/* Body default */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar css */
.navbar {
  align-items: center;
  background-color: rgb(65, 0, 0);
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
/*
.navbar::before {
  content: "";
  background-image: url('./imgs/banner.jpg');
  background-size: cover;
  filter: brightness(80%);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
} */

.navLinks {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin-right: 40px;
}

.link {
  text-decoration: none;
}

.navLink {
  background-color: white;
  border: 2px solid rgb(50,35,33);
  box-shadow: 0px 0px 3px 3px rgb(232,230,230);
  color: rgb(65, 0, 0);
  font-size: 19px;
  padding: 10px 20px;
  text-align: center;
}

.navLink:hover {
  box-shadow: 0px 0px 3px 3px orange;
}

.sponsor {
  color: orangered;
}

.navLogo {
  width: 25vmin;  z-index: 1;
}

#eventDropdown, #infoDropdown {
  display: none;
}

.infoList, .eventList {
  /* background-color: rgb(232,230,230); */
  background-color: white;
  list-style: none;
  position: absolute;
  width: 200px;
}

.eventList {
  width: 143px;
}

.listItem {
  padding: 10px 20px;
}

.linkItem {
  color: rgb(50,35,33);
  font-size: 20px;
  text-decoration: none;
}

.listItem:hover {
  /* background-color: rgb(65, 0, 0); */
  background-color: grey;
  /* color: orange; */
  color: white;
}

/* Home Page css */
.homeWrapper {
  background-image: url('./imgs/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homeTitle {
  color: rgb(150, 85, 0);
  font-size: 80px;
  padding: 50px 0px 0px 0px;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  /* -webkit-text-fill-color: rgb(150, 85, 0); */
}

.ticketsLink {
  color: red;
  font-size: 35px;
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
}

/* Main page information section */
.info {
  display: flex;
  font-family: sans-serif;
  gap: 50px;
  justify-content: center;
  margin: 50px 20px;
  text-align: center;
}

.infoLeft {
  /* color: white; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.infoDate {
  font-size: 45px;
}

.infoLocation {
  font-size: 30px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
}

.eventDay {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eventDate {
  font-size: 30px;
  text-decoration: underline;
}

.dateInfo {
  font-size: 22px;
}

.ticketPrices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.priceTitle {
  font-size: 30px;
  text-decoration: underline;
}

.prices {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 5px;
}

.pricesLeft {
  flex: 3;
}

.pricesRight {
  flex: 1;
}

.infoRight {
  width: 500px;
}

.infoText {
  color: rgb(103, 134, 0);
  color: yellow;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 20px;
}

.volunteerLink {
  color: red;
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: underline;
}

/* Concerts section */
.concertsDiv {
  display: flex;
  flex-direction: column;
}

.concertsTitle {
  /* color: burlywood; */
  color: rgb(150, 85, 0);
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

.artistDiv {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 30px;
}

.artistInfo {
  /* color: white; */
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.artistImg {
  height: 30vw;
  width: 25vw;
}

/* Rodeo Event Section */
.eventsDiv {
  margin: 30px 20px;
}

.eventsTitle {
  color: rgb(150, 85, 0);
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

.eventsList {
  margin-top: 30px;
}

.eventsTop, .eventsBot {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.eventName {
  /* color: white; */
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.eventImg {
  border-radius: 10px;
  height: 22vw;
  transition: 0.5s all ease-in-out;
  width: 28vw;
}

.eventImg:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}

/* Sponsors List section */
.sponsorsDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sponsorsTitle {
  /* color: burlywood; */
  color: rgb(150, 85, 0);
  font-size: 60px;
  margin: 20px 0px;
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

.sponsorLink {
  color: red;
  font-size: 30px;
  margin: 15px 0px;
  text-decoration: underline;
}

.presentingSponsor {
  /* color: white; */
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 45px;
}

.presentingImg {
  height: 15vw;
}

.sponsorsListTitle {
  /* color: white; */
  font-size: 45px;
  margin-bottom: 20px;
}

.sponsorLogos {
  align-items: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 150px;
}

.logo {
  height: 5vw;
}

/* SiteMap Component */
.siteMapWrapper {
  background-color: rgb(27, 27, 27);
  padding: 0px50px;
}

.line {
  color: white;
}

.siteMapTitle {
  color: rgb(150, 85, 0);
  font-size: 45px;
  padding: 30px 0px;
  text-align: center;
}

.siteMapLinks {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  padding: 30px 100px;
}


.siteMapCol {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.eprLogo {
  width: 225px;
}

.siteMapLink {
  color: white;
  font-size: 18px;
  margin: 0px 10px 10px 0px;
  text-decoration: none;
}

.siteMapLink:hover {
  color: orange;
}

.colTitle {
  color: burlywood;
  margin-bottom: 15px;
}

.socialMedia {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Rodeo Info Page */
.rodeoInfoWrapper {
  background-image: url('./imgs/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 100px;
}

.rodeoInfoTitle {
  color: rgb(150, 85, 0);
  font-size: 60px;
  padding: 80px 0px 30px 0px;
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

.rodeoInfoTicket {
  background-color: white;
  border: 3px solid rgb(150, 85, 0);
  margin: 10px 200px 0px 200px;
}

.ticketTop {
  margin-bottom: 20px;
}

.ticketTop, .ticketBottom {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.rodeoInfoLeft {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  text-align: center;
}

.horseshoeImg {
  align-self: center;
  transform: rotate(45deg);
  width: 50px;
}

.rodeoInfoSecTitle {
  font-size: 30px;
}

.rodeoInfoDates {
  font-size: 18px;
  font-weight: bold;
}

.rodeoInfoTimes {
  font-size: 18px;
}

.halfCircle {
  height: 80px;
  width: 160px;
  border-radius: 0 0 150px 150px;
  background-color: rgb(150, 85, 0);
}

.rodeoInfoImg {
  border: 2px solid rgb(150, 85, 0);
  box-shadow: 0 0 6px 3px rgb(168, 110, 34);
  margin: 40px 0px;
  width: 300px;
}

.dashedLine {
  border: none;
  border-top: 3px dashed rgb(150, 85, 0);
}

.tabLeft, .tabRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin: 50px 10px;
  text-align: center;
}

.tabTitle {
  color: rgb(150, 85, 0);
  margin-bottom: 15px;
  font-size: 30px;
}

.tabInfo {
  font-size: 17px;
}

.purchaseBtn {
  align-self: center;
  background-color: burlywood;
  border: 2px solid rgb(150, 85, 0);
  color: black;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
  width: 40%;
}

.purchaseBtn:hover {
  color: yellow;
}

.dashedLineVert {
  border: none;
  border-right: 3px dashed rgb(150, 85, 0);
}

.ticketSeller {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.tabSubTitle {
  font-size: 20px;
  font-weight: bold;
}